@font-face {
    font-family: smooth;
    src: url(neoteric.ttf);
}

body{
	background-color: white;
	color: #2C4252;
	font-family: smooth;
	padding: none;
	margin: none;
}

.headertext{
	font-size: 75px;
	letter-spacing: 5px;
	padding: 5px 0px 0px 0px;
}

.wrapper{
}

.content{
}

a:link.nav{
	padding: 10px;
	margin: 0px 25px;
	text-decoration: none;
	color: #fff;
	float: center;
	
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease-in-out;
}

#photocontent{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: space-around;
	
	padding: 20px;
	background: black;
	margin: 20px 0px;
	height: auto;
	width: 100%;
	box-sizing: border-box;
}

.photo_column1, .photo_column2, .photo_column3{
	box-sizing: border-box;
	-moz-flex: 1 3 20%;
	-webkit-flex: 1 3 20%;
	flex: 1 3 25%;
	padding: 5px;
	margin: 0px;
	overflow: hidden;
}

.photoheader{
	-moz-flex: 1 3 100%;
	-webkit-flex: 1 3 100%;
	flex: 1 3 100%;

	color: #DAE7F0;
	padding: 0px;
	text-align: center;
	letter-spacing: 10px;
	font-size: 60px;
}

img.layout{
	box-sizing: border-box;
	margin: 0px 0px;
	width: 100%;
	height: auto;
	opacity:1.0;
	z-index: 1;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 0.5s ease;
}

img.icon{
	width: 40px;
	height: 40px;
	padding: 10px;
	-webkit-transition: -webkit-transform .5s ease-in-out;
 	transition: transform .5s ease-in-out;
}

img.icon:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}


p{
	font-size: 40px;
	text-align: center;
}

footer{
	text-align: center;
	padding: 50px;
}

nav{
	background: white;
	opacity: 0.9;
	padding: 0 20px;
	top: 0px;
	width: 100%;
	text-align: center;
	margin: 0px auto;
}

nav ul ul {
	display: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease-in-out;
}

	nav ul li:hover > ul {
		display: block;
	}


nav ul {
	list-style: none;
	position: relative;
	display: inline-table;
	top:0;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

	nav ul li {
		float: left;
		-webkit-transition: all 0.25s ease;
		-moz-transition: all 0.25s ease;
		-o-transition: all 0.25s ease;
		transition: all 0.25s ease-in-out;
	}
		nav ul li:hover {
			background: #4b545f;
		}
			nav ul li:hover a {
				color: #fff;
			}
		
		nav ul li a {
			display: block; 
			padding: 25px 40px;
			color: #757575; 
			text-decoration: none;
		}
		
	nav ul ul {
		background: #5f6975; 
		padding: 0;
		position: absolute; 
		top: 65px;
		width: 180px;
		float: center;
	}
		nav ul ul li {
			float: none; 
			border-top: 1px solid #6b727c;
			border-bottom: 1px solid #575f6a; 
			position: relative;
			
		}
			nav ul ul li a {
				color: #fff;
			}