/*color-scheme:
light-gray: #263248
dark-gray: #3d3d3d
orange: #ff812c*/

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

@font-face {
	font-family: 'Montserrat-Regular';
	/*src: url('Montserrat/Montserrat-Regular.ttf') format('ttf');*/
  	src: url('Montserrat/montserrat-regular-webfont.woff2') format('woff2'),
       url('Montserrat/montserrat-regular-webfont.woff') format('woff'),
       url('Montserrat/Montserrat-Regular.ttf')  format('truetype');
}

a {
	text-decoration: none;
	color: #3d3d3d;
	opacity: 1;
	transition: all 0.5s ease-in-out;
}

a:hover {
	opacity: 0.5;
}

a.index_button {
	color: white;
}

body {
	font-family: 'Montserrat-Regular', Helvetica;
	background-color: white;
	/*color: #3d3d3d;*/
	color: #263248;
}

h3 {
	color: #263248;
}

.page-header {
	width: 100%;
	height: 300px;
	background-color: #eee;
}

.page-header-pic {
	background-image: url('art/digital/mtns.png'); 
	width: 100%; 
	height: 300px; 
	padding: 100px; 
	box-sizing: border-box; 
	opacity: 0.9; 
	background-position: 25% 90%; 
	background-size: 100% auto; 
	display:flex; 
	align-content: center; 
	justify-content: center;
}

.page-title-bg {
	flex-flow: 0 1 auto; 
	height: 50px; 
	display: inline-block; 
	padding: 10px 20px; 
	margin: auto; 
	background: rgba(250, 250, 250, 0.5);
}

.page-title {
	font-size: 40px; 
	font-weight: bold; 
	letter-spacing: 3px; 
	color:black;
}

@media screen and (max-width:680px) {
/* Styles */
	.index-box {
		font-size: 14px;
		text-align: left;
		line-height: 20px;
		margin: 50px auto;
		box-sizing: border-box;

		display: -webkit-box; 
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex; 
		display: flex;
		flex-flow: column wrap;
		background-color: blue;

		max-width: 100%;
	}
}


.index-box {
	font-size: 14px;
	text-align: left;
	line-height: 20px;
	margin: 50px 0px;
	box-sizing: border-box;
	width: 100%;

	display: -webkit-box; 
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	display: flex;
	flex-flow: row nowrap;

	max-width: 100%;
}

.index-box a {
	text-decoration: none;
	color: #ff812c;
}

.home_pic {
	width: 100%;
	height: 650px;
	background-color: #eee;
	padding: 100px;
	box-sizing: border-box;
}

.headertext {
	flex: 0 1 auto;
	font-size: 30px;
	letter-spacing: 5px;
	margin-left: 20px;
	margin-right: 20px;
	font-weight: bold;
	margin-bottom: 15px;
}

.indexheadertext {
	flex: 0 1 auto;
	font-size: 40px;
	letter-spacing: 5px;
	margin: auto;
	font-weight: bold;
	text-align: center;
}

.buttons-wrapper {
	flex: 0 1 auto;
	display: flex;
	flex-flow: row wrap;
}

.index-buttons-wrapper {
	flex: 0 1 auto;
	display: flex;
	flex-flow: row wrap;
	margin: auto;
	width:100%;
	justify-content: center;
}

.nav-button:hover {
	background-color: #eee;
}

.nav-button {
	flex: 0 1 auto;
	font-size: 15px;
	letter-spacing: 3px;
	padding: 20px 30px;
	transition: all 0.5s ease-in-out;
	font-weight: bold;
}

.curr-nav-button {
	font-size: 15px;
	letter-spacing: 3px;
	padding: 20px 30px;
	background-color: #3d3d3d;
}

.curr-nav-button a {
	text-decoration: none;
	color: #eee;
}

.art-description {
	font-size: 15px;
	padding: 30px;
	text-align: center;
	color: #6d6d6d;
	margin-bottom: 20px;
}

.project-description {
	font-size: 14px;
	color: #6d6d6d;
	line-height: 18px;
}

.project-description a {
	color: #ff812c;
}


.content{
	padding-top: 50px;
	width: 80%;
	margin: auto;
	padding-bottom: 100px;
	font-size: 14px;
}

nav {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
	justify-content: space-between;
	width: auto;
	height: 100px;
	padding:0px 30px;
	border-bottom: solid #ddd 1px;
}

.index-header {
	font-size: 15px; 
	letter-spacing: 3px; 
	margin: 20px 0px;
	font-weight: bold;
	color: #3d3d3d;
}

.art-options {
	display: flex;
	flex-flow: row wrap;
	line-height: 18px;
}
/*
.img-with-caption {
	flex: 1 0 auto;
	display: flex;
	flex-flow: column wrap;
	margin: 0px 60px 60px 0px;

	max-width: 100%;
}*/

img.art-option {
	flex: 0 1 auto;
	height: 250px;
	width: 250px;

	margin-bottom: 10px;
}

.art-caption {
	flex: 0 1 auto;
	text-align: center;
	font-size: 15px;
	letter-spacing: 3px;
}

/*#projcontent{
	padding: 20px;
	margin: auto;
	height: auto;
	width: 1000px;
	box-sizing: border-box;
}*/

#photocontent{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	
	margin: auto;
	height: auto;
	width: 100%;
	box-sizing: border-box;
}

.photo_column1, .photo_column2, .photo_column3{
	box-sizing: border-box;
	flex: 1 3 25%;
	padding: 5px;
	margin: 0px 10px;
	overflow: hidden;
}

.photoheader{
	flex: 1 3 100%;
	color: #DAE7F0;
	padding: 0px 0px 20px 0px;
	text-align: center;
	letter-spacing: 10px;
	font-size: 30px;
}

img.layout{
	box-sizing: border-box;
	margin: 10px 0px;
	width: 100%;
	height: auto;
	opacity:1.0;
	z-index: 1;
	transition: all 0.5s ease;
}

img.icon{
	width: 40px;
	height: 40px;
	padding: 10px;
	-webkit-transition: -webkit-transform .5s ease-in-out;
 	transition: transform .5s ease-in-out;
}

img.icon:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

h2{
	text-align: center;
}
p.project{
	float:center;
	text-align: left;
	margin: auto;
	font-size: 15px;
	width: 400px;
}

.about_container {
	display: flex;
	flex-flow: row wrap;
	margin: auto;
	width: 1000px;
}

.about_container a {
	color: #ff812c;
}

img.project{
	width: 100%;
	height:auto;
	margin: auto;
	text-align: left;
	margin-bottom: 20px;
}

p {
	font-size: 40px;
	text-align: center;
}

.index_button {
	flex: 0 1 auto;
	width: 30%;
	height: 100px;
	line-height: 100px;
	font-size: 30px;
	padding: 50px;
	text-align: center;
	color: white;
	letter-spacing: 5px;
}

.index_button.about {
	background: 
		linear-gradient(
		      rgba(255, 0, 0, 0.45), 
		      rgba(0, 0, 255, 0.25)
		    ),
		url("Icons/poly.jpg");
	background-position: 0% 0%; 
}

.index_button.code {
	background: 
		linear-gradient(
		      rgba(142, 0, 57, 0.45), 
		      rgba(14, 185, 244, 0.65)
		    ),
		url("Icons/poly.jpg");
	background-position: 70% 20%;
}
.index_button.design {
	background: 
		linear-gradient(
		      rgba(142, 0, 57, 0.55), 
		      rgba(14, 185, 244, 0.55)
		    ),
		url("Icons/poly.jpg");
	background-position: 75% 45%;
}
.index_button.art {
	background: 
		linear-gradient(
		      rgba(0, 0, 255, 0.05), 
		      rgba(142, 0, 57, 0.45)
		    ),
		url("Icons/poly.jpg");
	background-position: 50% 50%;	
}

.index_button_container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: auto;
	margin: 0 auto;
}

footer {
	width: 100%;
	border-top: solid #ddd 1px;
	text-align: center;
	padding: 50px;
}

.about-wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;

	font-size: 14px;
	text-align: left;
	line-height: 20px;
	margin: 50px auto;
	box-sizing: border-box;
}

.about-wrapper a {
	text-decoration: none;
	color: #ff812c;
}

.about-img {
	flex: 1 0 auto;
	margin-right: 30px;
	width: 450px;
}

.about-desc {
	flex: 1 0 auto; 
	height:auto; 
	width: 300px;

	max-width:100%
}

@media screen and (max-width:480px) {

	.about-wrapper {
		display: flex;
		flex-flow: column wrap;
	}

	.about-img {
		margin-right: 0px;
		margin-bottom: 50px;
		max-width: 100%;
	}

	.about-desc {
		margin-right: 0px;
		width: 100%;
	}

/*	img.art-option {
		flex: 1 0 auto;
		width: 100%;
		height:auto;
	}

	.design-caption {
		flex: 1 0 auto;
		width: 100%;
		height: auto;
	}*/
}

.img-with-caption {
	flex: 0 1 auto;
	display: flex;

	flex-flow: column wrap;
	margin: 0px 60px 60px 0px;
	max-width:100%;
}

.design-caption {
	flex: 1 0 auto;
	text-align: left;
	font-size: 12px;
	width:250px;
	max-width:100%;
	margin-top: 10px;
}

@media screen and (max-width:900px) {

	nav {
		height: auto;
		justify-content: center;
		padding-top: 20px;
	}

	.buttons-wrapper {
		justify-content: center;
	}
}


