@font-face {
	font-family: 'Montserrat-Regular';
	src: url('montserrat-regular.otf') format('otf');
}

a {
	text-decoration: none;
	color: #3d3d3d;
	opacity: 1;
	transition: all 0.5s ease-in-out;
}

a:hover {
	opacity: 0.5;
}

a.index_button {
	color: white;
}

body {
	font-family: 'Montserrat-Regular', 'Helvetica Neue', Helvetica;
	background-color: white;
	/*color: #3d3d3d;*/
	color: #263248;
	padding: 0px 20px;
	margin: auto;
}

h3 {
	color: #263248;
}

.headertext {
	flex: 0 1 auto;
	font-size: 40px;
	letter-spacing: 5px;
	margin-left: 20px;
	font-weight: bold;
}

.indexheadertext {
	flex: 0 1 auto;
	font-size: 40px;
	letter-spacing: 5px;
	margin: auto;
	font-weight: bold;
	text-align: center;
}

.buttons-wrapper {
	flex: 0 1 auto;
	display: flex;
	flex-flow: row wrap;
}

.nav-button:hover {
	background-color: #eee;
}

.nav-button {
	flex: 0 1 auto;
	font-size: 15px;
	letter-spacing: 3px;
	padding: 20px 30px;
	transition: all 0.5s ease-in-out;
}

.curr-nav-button {
	font-size: 15px;
	letter-spacing: 3px;
	padding: 20px 30px;
	background-color: #3d3d3d;
}

.curr-nav-button a {
	text-decoration: none;
	color: #eee;
}

.art-description {
	font-size: 15px;
	padding: 30px;
	text-align: center;
	border-top: 1px solid #7E8AA2;
	border-bottom: 1px solid #7E8AA2;
	color: #6d6d6d;
	margin-bottom: 20px;
}

.project-description {
	font-size: 18px;
	color: #6d6d6d;
	padding: 20px;
}

.project-description a {
	color: #ff812c;
}

.wrapper{
}

.content{
	padding-top: 50px;
}

nav {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
	justify-content: space-between;
	width: auto;
	height: 100px;
}

.art-options {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: auto;
	margin: 0 auto;
}

.img-with-caption {
	flex: 0 1 auto;
	display: flex;
	flex-flow: column wrap;
}

img.art-option {
	flex: 0 1 auto;
	height: 300px;
	width: 300px;
	margin: 20px;
}

.art-caption {
	flex: 0 1 auto;
	text-align: center;
	font-size: 15px;
	letter-spacing: 3px;
}

#projcontent{
	padding: 20px;
	margin: auto;
	height: auto;
	width: 850px;
	box-sizing: border-box;
}

#photocontent{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	
	padding: 20px;
	margin: auto;
	height: auto;
	width: 850px;
	box-sizing: border-box;
}

.photo_column1, .photo_column2, .photo_column3{
	box-sizing: border-box;
	flex: 1 3 25%;
	padding: 5px;
	margin: 0px 10px;
	overflow: hidden;
}

.photoheader{
	flex: 1 3 100%;
	color: #DAE7F0;
	padding: 0px 0px 20px 0px;
	text-align: center;
	letter-spacing: 10px;
	font-size: 30px;
}

img.layout{
	box-sizing: border-box;
	margin: 10px 0px;
	width: 100%;
	height: auto;
	opacity:1.0;
	z-index: 1;
	transition: all 0.5s ease;
}

img.icon{
	width: 40px;
	height: 40px;
	padding: 10px;
	-webkit-transition: -webkit-transform .5s ease-in-out;
 	transition: transform .5s ease-in-out;
}

img.icon:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

h2{
	text-align: center;
}
p.project{
	float:center;
	text-align: left;
	margin: auto;
	font-size: 15px;
	width: 400px;
}

p.about{
	text-align: left;
	width: 400px;
	font-size: 15px;
	margin: auto;
	flex: 0 1 auto;
}

img.about {
	flex: 0 1 auto;
	width: 400px;
	height:266px;
}

.about_container {
	display: flex;
	flex-flow: row wrap;
	margin: auto;
	width: 900px;
}

.about_container a {
	color: #ff812c;
}


img.project{
	width: 100%;
	height:auto;
	margin: auto;
	text-align: left;
	margin-bottom: 20px;
}

p {
	font-size: 40px;
	text-align: center;
}

.index_button {
	flex: 0 1 auto;
	width: 30%;
	height: 100px;
	line-height: 100px;
	font-size: 30px;
	padding: 50px;
	text-align: center;
	color: white;
	letter-spacing: 5px;
}

.index_button.about {
	background: 
		linear-gradient(
		      rgba(255, 0, 0, 0.45), 
		      rgba(0, 0, 255, 0.25)
		    ),
		url("Icons/poly.jpg");
	background-position: 0% 0%; 
}

.index_button.code {
	background: 
		linear-gradient(
		      rgba(142, 0, 57, 0.45), 
		      rgba(14, 185, 244, 0.65)
		    ),
		url("Icons/poly.jpg");
	background-position: 70% 20%;
}
.index_button.design {
	background: 
		linear-gradient(
		      rgba(142, 0, 57, 0.55), 
		      rgba(14, 185, 244, 0.55)
		    ),
		url("Icons/poly.jpg");
	background-position: 75% 45%;
}
.index_button.art {
	background: 
		linear-gradient(
		      rgba(0, 0, 255, 0.05), 
		      rgba(142, 0, 57, 0.45)
		    ),
		url("Icons/poly.jpg");
	background-position: 50% 50%;	
}

.index_button_container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: auto;
	margin: 0 auto;
}

footer {
	text-align: center;
	padding: 50px;
}

