@font-face {
    font-family: smooth;
    src: url(neoteric.ttf);
}


body{
	background-color: #2C4252;
	color: #2C4252;
	font-family: smooth;
}

header{
	text-align: center;
	background-image: url('Art/GraphicDesign/alternative.JPG');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	margin-top: -60px;
	height: 300px;
}

.subheading{
	text-align: center;
	width: 75%;
	margin: -80px auto 20px auto;
	letter-spacing: 5px;
	font-size: 35px;
	color: #DAE7F0;
}

h2.photoheader{
	margin: 0px;
	font-size: 40px;
	color: #DAE7F0;
}

h1{
	font-size: 150px;
	opacity: 1.0;
	color: #DAE7F0;
	
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease-in-out;
}

h1:hover{
	
	opacity: 0.5;
	letter-spacing: 10px;
}

.wrapper{
	width: 1100px;
	margin: auto;
	background-color: #DAE7F0;
	padding: 40px;
}

.content{
}

nav{
	width: 100%;
	height: auto;
	padding: 20px;
	background-color: #8DA3B3;
	color: #495A66;
	text-align: center;
	box-sizing: border-box;
}

nav.art{
	width: 100%;
	height: auto;
	padding: 10px;
	margin-top: 10px;
	background-color: #8DA3B3;
	color: #495A66;
	text-align: center;
	box-sizing: border-box;
}

a:link.nav{
	padding: 10px;
	margin: 0px 20px;
	text-decoration: none;
	color: #2C4252;
	
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease-in-out;
}

a:link.nav:hover{
	letter-spacing: 5px;
	opacity: 0.5;
}

#photocontent{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: space-around;
	
	padding: 20px;
	background: black;
	margin: 20px 0px;
	height: auto;
	width: 100%;
	box-sizing: border-box;
}

.photo_column1{
	box-sizing: border-box;
	-moz-flex: 1 3 20%;
	-webkit-flex: 1 3 20%;
	flex: 1 3 20%;
	padding: 10px;
	margin: 0px 10px 10px 0px;
	overflow: hidden;
}

.photo_column2{
	box-sizing: border-box;
	-moz-flex: 1 3 20%;
	-webkit-flex: 1 3 20%;
	flex: 1 3 20%;
	padding: 10px;
	margin: 0px 10px 10px 0px;
	overflow: hidden;
}

.photo_column3{
	box-sizing: border-box;
	-moz-flex: 1 3 20%;
	-webkit-flex: 1 3 20%;
	flex: 1 3 20%;
	padding: 10px;
	overflow: hidden;
}

.photoheader{
	-moz-flex: 1 3 100%;
	-webkit-flex: 1 3 100%;
	flex: 1 3 100%;
}

img.layout{
	box-sizing: border-box;
	margin: 10px 0px;
	width: 100%;
	height: auto;
	opacity:1.0;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 0.5s ease;
}

img.layout:hover{
	opacity: 0.7;
	border-radius: 200px;
}